* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

body {
    background-color: #829378;
    font-family: 'Gt Pressura', 'Verdana', 'Trebuchet MS';
    margin: 30px;
}

header {
    padding: 10px;
    background-color: #c1cec5;
    color: black;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 2px white;
    margin-left: 10px;
    margin-top: 10px;
}

header nav {
    float: right;
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.hero {
    background-color: #c1cec5;
    margin-bottom: 30px;
}

.hero img {
    object-fit: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: 25%;
    margin-right: 50%;
    margin-bottom: 10px;
    padding: 10px;
}

.about {
    background-color: #c1cec5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about h2 {
    padding: 10px;
}

.about p {
    padding: 10px;
    font-weight: lighter;
}

.work {
    background-color: #c1cec5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.work h2 {
    padding: 10px;
}

.container {
    position: relative;
    padding: 30px;
}

.container img {
    border-style: solid;
    border-color: #829378;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.text-block {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background: rgb(130, 147, 120);
    background: rgba(130, 147, 120, 0.5);
    color: white;
    padding: 30px;
    border-style: solid;
    border-color: #c1cec5
}
