* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

body {
    background-color: #829378;
    font-family: 'Gt Pressura', 'Verdana', 'Trebuchet MS'
}

header {
    padding: 10px;
    background-color: #c1cec5;
    color: black;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}

header nav {
    float: right;
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.hero {
    background-color: #c1cec5;
}
.hero img {
    object-fit: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: 25%;
    margin-right: 50%;
    padding: 10px;
}